---
// FAQItem.astro
interface Props {
  faq: {
    question: string;
    answer: string;
  };
  category: string;
  index: number;
}

const { faq, category, index } = Astro.props;
---

<li
  class={`faq-item group relative cursor-pointer overflow-hidden rounded-xl bg-white/30 p-4 transition-shadow duration-300 ${category}-faq`}
  data-category={category}
  data-id={`faq-${index}`}
>
  <button
    class="faq-question-container relative flex w-full cursor-pointer justify-between gap-2.5 text-left font-semibold md:text-lg"
  >
    <span class="faq-question">{faq.question}</span>
    <span class="faq-toggle text-lg md:text-xl">+</span>
  </button>
  <p
    class="faq-answer relative z-10 hidden w-full origin-bottom pt-4 text-slate-600 max-md:text-sm"
  >
    {faq.answer}
  </p>
</li>
