---
import { siteConfig } from "@/config/site";

type Props = {
  title?: string;
  description?: string;
};

const { title, description = siteConfig.description } = Astro.props;
const pageTitle = title ? `${title} | ${siteConfig.title}` : siteConfig.title;
---

<head>
  <!-- Global Metadata -->
  <meta charset={siteConfig.meta.charset} />
  <meta name="viewport" content={siteConfig.meta.viewport} />
  <meta name="generator" content={Astro.generator} />

  <!-- Primary Meta Tags -->
  <title>{pageTitle}</title>
  <meta name="title" content={pageTitle} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content={siteConfig.og.type} />
  <meta property="og:url" content={siteConfig.url} />
  <meta property="og:title" content={pageTitle} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={siteConfig.og.image} />

  <!-- Twitter -->
  <meta name="twitter:card" content={siteConfig.twitter.card} />
  <meta name="twitter:url" content={siteConfig.url} />
  <meta name="twitter:title" content={pageTitle} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={siteConfig.twitter.image} />

  <!-- Favicon -->
  <link
    rel="icon"
    href={siteConfig.icons.favicon.href}
    type={siteConfig.icons.favicon.type}
    sizes={siteConfig.icons.favicon.sizes}
  />
</head>
