---
import { metaConfig } from "@/config/metaTags";

type Props = {
  title?: string;
  description?: string;
};

const { title, description = metaConfig.description } = Astro.props;
const pageTitle = title ? `${title} | ${metaConfig.title}` : metaConfig.title;
---

<!-- Global Metadata -->
<meta charset={metaConfig.meta.charset} />
<meta name="viewport" content={metaConfig.meta.viewport} />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={metaConfig.og.type} />
<meta property="og:url" content={metaConfig.url} />
<meta property="og:title" content={pageTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={metaConfig.og.image} />

<!-- Twitter -->
<meta name="twitter:card" content={metaConfig.twitter.card} />
<meta name="twitter:url" content={metaConfig.url} />
<meta name="twitter:title" content={pageTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={metaConfig.twitter.image} />

<!-- Favicon -->
<link
  rel="icon"
  href={metaConfig.icons.favicon.href}
  type={metaConfig.icons.favicon.type}
  sizes={metaConfig.icons.favicon.sizes}
/>
