---
import SectionWrapper from "@/components/layout/SectionWrapper.astro";
import { cn } from "@/lib/utils";
import faqs from "@/config/faqs";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<SectionWrapper id={id} className={cn(className)}>
  <h2>FAQs</h2>
  <p>Here are some frequently asked questions.</p>
  <div class="faq-categories">
    {
      faqs.map((category) => (
        <div class="faq-category">
          <h3>{category.type}</h3>
          <ul>
            {category.faqs.map((faq) => (
              <li>
                <h4>{faq.question}</h4>
                <p>{faq.answer}</p>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</SectionWrapper>
