---
import JarComponent from "@/components/animations/sponsors/JarComponent.astro";
import SponsorText from "@/components/animations/sponsors/SponsorText.astro";
import SyrupPool from "@/components/animations/sponsors/SyrupPool.astro";
import SectionWrapper from "@/components/layout/SectionWrapper.astro";
import SectionHeading from "@/components/utility/SectionHeading.astro";
import { sponsorConfig } from "@/config/sponsorConfig";
import { cn } from "@/lib/utils";
import Spline from "@splinetool/react-spline";

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<SectionWrapper id={id} className={cn("h-fit pt-32", className)}>
  <SectionHeading className="text-center"
    >{sponsorConfig.heading}</SectionHeading
  >
  <div class="container absolute left-1/2 -translate-x-1/2">
    <p
      class="absolute left-1/2 max-w-xl -translate-x-1/2 text-wrap text-center"
    >
      {sponsorConfig.description[0]}
      <br />
      {sponsorConfig.description[1]}
    </p>
  </div>

  <div class="relative flex w-full justify-center">
    <div
      class="jar-container relative flex h-fit w-full max-w-4xl justify-between"
    >
      <JarComponent side="left" />
      <JarComponent side="right" />
    </div>
    <SyrupPool />
    <SponsorText />
  </div>

  <div class="h-[600px] w-full md:h-[800px]">
    <Spline
      className="absolute -bottom-20 left-0 z-0 h-full w-full"
      scene="https://prod.spline.design/qOP5BElA-r5bTTZm/scene.splinecode"
      client:visible
    />
  </div>
</SectionWrapper>

<script>
  // animations.ts
  import { gsap } from "gsap";
  import animateSVG from "@/lib/honeySpillMorph";
  import { sponsorConfig } from "@/config/sponsorConfig";

  function animateJars() {
    const timeline = gsap.timeline({
      defaults: { ease: "power2.out" },
      scrollTrigger: {
        trigger: "#sponsorSection",
        start: "top+=100 center",
        end: "bottom bottom",
        scrub: false,
      },
    });

    timeline.fromTo(
      ".jar-left",
      { rotation: -135 },
      { rotation: 0, duration: 1 },
      0,
    );
    timeline.fromTo(
      ".jar-right",
      { rotation: 135 },
      { rotation: 0, duration: 1 },
      0,
    );

    timeline.fromTo(
      ".jar-drip",
      { scaleY: 0, transformOrigin: "top" },
      { scaleY: 1, duration: 1 },
      0.5,
    );

    timeline.fromTo(
      ".syrup-pool",
      { scaleY: 0, transformOrigin: "top" },
      { scaleY: 1, duration: 1, animateSVG },
      1.1,
    );

    timeline.fromTo(
      ".sponsor-text",
      { opacity: 0, scale: 0.85 },
      { opacity: 1, scale: 1 },
      1.5,
    );
  }

  function handleSponsorButtonClick() {
    window.location.href = `mailto:${sponsorConfig.sponsorText.email}`;
  }

  export function initializeAnimations() {
    animateJars();
    const sponsorButton = document.querySelector("#sponsorButton");
    sponsorButton?.addEventListener("click", handleSponsorButtonClick);
  }

  document.addEventListener("DOMContentLoaded", initializeAnimations);
</script>
