---
import SectionWrapper from "@/components/utilities/SectionWrapper.astro";
import SectionHeading from "@/components/utilities/SectionHeading.astro";
import Boat from "@/components/animations/teams/Boat.astro";
import { teams } from "@/config/teams";
import { cn } from "@/lib/utils";
import { getCompartmentSizes, getContainerWidth } from "@/lib/TeamUtils";
import { teamSection } from "@/config/site";
import Prose from "@/components/common/Prose.astro";
import Wave from "@/components/animations/teams/Wave.astro";
import TeamMemberModal from "@/components/animations/teams/card/TeamMemberModal";
interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<SectionWrapper
  id={id}
  className={cn("flex flex-col items-center overflow-hidden px-5", className)}
>
  <SectionHeading className="team-heading z-10 text-center"
    >{teamSection.title}</SectionHeading
  >
  <Prose className="z-10 text-center" set:html={teamSection.tagline} />
  <div class="team-container absolute bottom-0 left-0 h-fit w-full">
    <div
      class="boat-container relative flex h-[150px] w-fit gap-[40px]"
      role="list"
      aria-label="Team boats"
    >
      {
        teams.map((team, index) => {
          const memberCount = team.teamMembers.length;
          const [compartment1Count, compartment2Count] =
            getCompartmentSizes(memberCount);
          const containerWidth = getContainerWidth(memberCount);
          const shouldDisplayBoat = memberCount >= 3;

          return (
            shouldDisplayBoat && (
              <Boat
                team={team}
                containerWidth={containerWidth}
                compartment1Count={compartment1Count}
                compartment2Count={compartment2Count}
                index={index}
              />
            )
          );
        })
      }
    </div>
  </div>
  <Wave />
  <TeamMemberModal client:only="react" />
</SectionWrapper>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  let marqueeTimeline: gsap.core.Timeline;
  function setupInfiniteScroll() {
    const boatContainer = document.querySelector(".boat-container");
    if (!boatContainer) return;

    const boats = boatContainer.children;
    const gap = 40;
    const totalWidth = Array.from(boats).reduce(
      (acc, boat) => acc + (boat as HTMLElement).offsetWidth + gap,
      0,
    );

    // Clone boats and append to the container
    Array.from(boats).forEach((boat) => {
      const clone = boat.cloneNode(true);
      boatContainer.appendChild(clone);
    });

    // Set initial position
    gsap.set(boatContainer, { x: 0 });

    // Create the marquee animation
    const duration = 30; // Adjust this value to control the speed
    const marqueeAnimation = gsap.to(boatContainer, {
      x: -totalWidth,
      duration: duration,
      ease: "none",
      repeat: -1,
    });

    const hoverClassNames = ["team-member-gsap"];
    // Add hover pause functionality
    hoverClassNames.forEach((className) => {
      const elements = document.querySelectorAll(`.${className}`);
      elements.forEach((element) => {
        element.addEventListener("mouseenter", () => marqueeAnimation.pause());
        element.addEventListener("mouseleave", () => marqueeAnimation.play());
      });
    });

    // Use ScrollTrigger to start the animation seconds after the section comes into view
    ScrollTrigger.create({
      trigger: ".team-container",
      start: "bottom-=50 bottom-=50",
      once: true, // This makes the trigger fire only once
      onEnter: () => {
        setTimeout(() => {
          marqueeAnimation.play();
        }, 1000);
      },
    });
  }
  function addWiggleEffect() {
    gsap.utils.toArray<HTMLElement>(".boat").forEach((boat) => {
      gsap.to(boat, {
        yPercent: () => gsap.utils.random(-15, 15),
        rotate: () => gsap.utils.random(-2, 2),
        duration: () => gsap.utils.random(1.5, 2.5),
        repeat: -1,
        yoyo: true,
        ease: "sine.inOut",
      });
    });
  }

  function setupTeamMemberInteractions() {
    const teamMembers = document.querySelectorAll(
      ".team-member-1, .team-member-2",
    );
    teamMembers.forEach((member) => {
      member.addEventListener("mouseenter", () => marqueeTimeline?.pause());
      member.addEventListener("mouseleave", () => marqueeTimeline?.play());
    });
  }

  function animateBoat(boat: Element | unknown) {
    if (!(boat instanceof Element)) return;
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: boat,
        start: "top bottom-=50",
        end: "bottom top",
        toggleActions: "play none none reverse",
      },
    });

    tl.from(boat, {
      scale: 0,
      transformOrigin: "center bottom",
      duration: 0.5,
      ease: "power2.out",
    });

    const compartments = [".compartment-2-group", ".compartment-1-group"];
    compartments.forEach((compartment) => {
      const element = boat.querySelector(compartment);
      if (element) {
        tl.from(
          element,
          {
            scaleY: 0,
            transformOrigin: "bottom",
            duration: 0.5,
            ease: "back.out(1.7)",
          },
          "-=0.3",
        );
      }
    });

    const members = boat.querySelectorAll(".team-member-1, .team-member-2");
    tl.from(
      members,
      {
        scale: 0,
        y: 50,
        stagger: 0.1,
        duration: 0.5,
        ease: "back.out(1.7)",
      },
      "-=0.5",
    );

    const flag = boat.querySelector(".flag");
    const flagpole = boat.querySelector(".flagpole");
    if (flag && flagpole) {
      gsap.set([flag, flagpole], { autoAlpha: 0, y: 20 });
      tl.to(
        [flagpole, flag],
        {
          autoAlpha: 1,
          y: 0,
          duration: 0.5,
          ease: "back.out(1.7)",
          stagger: 0.1,
        },
        "-=0.3",
      );

      compartments.forEach((compartment) => {
        const element = boat.querySelector(compartment);
        if (element) {
          element.addEventListener("mouseenter", () => {
            gsap.to([flagpole, flag], {
              y: 10,
              duration: 0.3,
              ease: "power2.out",
            });
          });
          element.addEventListener("mouseleave", () => {
            gsap.to([flagpole, flag], {
              y: 0,
              duration: 0.3,
              ease: "power2.out",
            });
          });
        }
      });
    }
  }

  function animateTeams() {
    gsap.utils.toArray(".boat").forEach(animateBoat);
    gsap.from(".team-heading", {
      y: 50,
      opacity: 0,
      duration: 1,
      ease: "power3.out",
      scrollTrigger: {
        trigger: ".team-heading",
        start: "top bottom-=100",
        end: "bottom top",
        toggleActions: "play none none reverse",
      },
    });
  }

  function initializeAnimations() {
    setupInfiniteScroll();
    addWiggleEffect();
    setupTeamMemberInteractions();
    animateTeams();
  }

  document.addEventListener("DOMContentLoaded", initializeAnimations);
</script>
